<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd 
    http://www.springframework.org/schema/tx 
    http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- concurrency related -->
	<bean id="employeeService" class="com.akshay.concurrencyStrategy.EmployeeServiceImpl"></bean>
	<bean id="employeeConcStrategyDAO" class="com.akshay.concurrencyStrategy.EmployeeDAOImplementation"></bean>

	<tx:annotation-driven />

	<context:component-scan 
		base-package="com.akshay.concurrencyStrategy" />
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://snagpal.blackarrow-corp.com:3306/demoAKTest" />
		<property name="username" value="root" />
		<property name="password" value="" />
	</bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
       <property name="dataSource" ref="dataSource"></property>
       <property name="hibernateProperties">
          <props>
             <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
             <prop key="hibernate.show_sql">true</prop>
             <prop key="hibernate.hbm2ddl.auto">update</prop>
             <prop key="hibernate.cache.use_second_level_cache">true</prop>
			 <prop key="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</prop>
          </props>
       </property>
       <property name="packagesToScan" value="com.akshay.concurrencyStrategy" />       
    </bean>
	
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager" 
		p:sessionFactory-ref="sessionFactory">
	</bean>

</beans>